// 轮播图的重置样式
.mint-swipe-indicators{
    width: 100%;
    left: 0;
    padding-right: 5vw;
    box-sizing: border-box;
    transform: translateX(0);
    text-align: right;
    .mint-swipe-indicator{
        background-color: #FFF;
        opacity .5;
        margin 0.05rem;
        width 0.06rem;
        height 0.06rem;    
    }
    .is-active{
        opacity 1;
    }
}